<html lang="en">
 <head>
    <script src="../assets/js/head.js"></script>
  </head>
  <body>
    <script src="../assets/js/nav.js"></script>
    <div class="container  py-5">
      {{{body}}}
    </div>
     <script src="../assets/js/footer.js"></script>
  </body>
</html>