<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="../assets/js/head.js"></script>
  </head>
  <body>
    <script src="../assets/js/nav.js"></script>
    <div class="container py-5">
      <h1 class="text-center">Editar Producto</h1>
      <div class="d-flex justify-content-center">
        <div class="col-12 col-md-6">
          <form
            id="edit-product"
            method="POST"
            action="/api/productos/"
            enctype="multipart/form-data"
          >
            <div class="mb-3">
              <label for="nombre" class="form-label">Nombre</label>
              <input
                type="text"
                class="form-control"
                id="nombre"
                name="nombre"
              />
            </div>
            <div class="mb-3">
              <label for="precio" class="form-label">Precio</label>
              <input
                type="number"
                class="form-control"
                id="precio"
                name="precio"
                step="0.01"
              />
            </div>
            <div class="mb-3">
              <label for="stock" class="form-label">Stock</label>
              <input
                type="number"
                class="form-control"
                id="stock"
                name="stock"
              />
            </div>

            <button class="edit-foto btn btn-secondary">Editar Foto</button>
            <hr />
            <button type="submit" class="btn btn-primary btn-submit">
              Editar Producto
            </button>
          </form>
        </div>
      </div>
    </div>
    <script src="../assets/js/footer.js"></script>
    <script defer>
      const getLastItem = (thePath) =>
        thePath.substring(thePath.lastIndexOf('/') + 1);
      const prodUrlId = getLastItem(window.location.href);
      fillForm(prodUrlId, '#edit-product');

      const form = document.querySelector('#edit-product');
      const action = form.getAttribute('action');
      form.setAttribute('action', `${action}${prodUrlId}`);

      const activeFotoField = () => {
        document
          .querySelector('.edit-foto')
          .addEventListener('click', function (event) {
            event.preventDefault();
            const fotoField = `<div class="mb-3">
    <label for="foto" class="form-label">Imagen</label>
    <input class="form-control" type="file" id="foto" name="foto" />
    </div>`;
            this.insertAdjacentHTML('beforebegin', fotoField);
            this.remove();
            const action = form.getAttribute('action');
            form.setAttribute('action', `${action}/withOutFoto`);
          });
      };
      activeFotoField();
    </script>
  </body>
</html>
