<h1>Gracias por su compra!</h1>

<p>Su orden es la número: {{query.o}}</p>

<p>Nuestro equipo te contactara pronto para darte los detalles de tu compra. </p>

<p>Seguí comprando <a href="/productos">ACÁ</a>!</p>

